{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{{ palabras_claves }}"> 
    <meta name="description" content="{{ descripcion }}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'vistaprevia/css/style.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'vistaprevia/css/jquery-ui.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'vistaprevia/css/bootstrap.min.css' %}" >
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>

    {%block contenedor %}{% endblock %}
    
    <script type="text/javascript" src="{% static 'vistaprevia/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'vistaprevia/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'vistaprevia/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vistaprevia/js/bootstrap.js' %}"></script>
</body>
</html>